.App {
  text-align: center;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.exercise-box {
  border: 2px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}



